*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 100%;
  max-width: 1024px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 2000;
  box-shadow: 0.1rem 0 0.3rem rgba(0, 0, 0, 0.4);
}
.nav {
  display: flex;
  align-items: center;
  flex: auto;
  height: inherit;
  padding: 0 6px;
}
.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
}

.list-items {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 0 5px;
}
.nav-items {
  display: flex;
  list-style: none;
}
.list-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  padding: 0 6px;
  font-size: large;
  font-weight: 600;
  color: #2a2a2a;
  margin: 0 15px;
}
.home {
  width: 100%;
  padding: 18px;
  margin-top: 2rem;
  height: calc(100vh - 60px);
}
.app_container {
  width: 100%;
  display: flex;
  align-items: center;
  height: inherit;
  justify-content: center;
}
.grid_container {
  display: grid;
  grid-template-columns: repeat(2, minmax(270px, 1fr));
  gap: 20px;
}
.btn-3d {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  background-color: #0077cc;
  border: none;
  cursor: pointer;
}
.btn-3d:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #005599;
  transform: translateY(-100%);
  transition: transform 0.3s;
}
.btn-3d:hover:before {
  transform: translateY(0);
}
.card {
  width: 250px;
  height: 250px;
  background-color: white;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  border-radius: 10px;
}
.card_container {
  display: flex;
  width: inherit;
  height: inherit;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px 0;
}
.card_title {
  font-size: 24px;
  font-weight: 600;
  color: #494949;
}
.card_icon {
  width: 89px;
  height: 89px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and(max-width: 450px) {
  .grid_container {
    display: grid;
    grid-template-columns: 1 1fr 1fr;
  }
}
